/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

body {
  background-color: lightgray;
  color: darkblue;
  text-shadow: 1px 1px 3px black;
}