/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --fundo-principal: #e7e0e0;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;

}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.479);
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 7px;
  transition: background-color 0.3s, color .5s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  margin: 18px 0px;

}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 18px;
}

section#ficha h1 {
  color: var(--destaque);
  font-size: 1.5em;
  text-align: left;
}

section#ficha a {
  font-size: 30px;
  color: var(--destaque-inverso);
  font-size: 1.5em;

}

section#ficha div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 13px;
  font-size: 23px;
}

div#social a {
  color: var(--destaque);
  transition: color 0.4s;
}

div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  color: var(--destaque);
  margin: 10px 0px;
  padding: 20px;
  border-radius: 7px;
}

#skills-conteiner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skills-conteiner .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#skills-conteiner .nome {
  font-weight: bold;
  color: var(--texto);
}

#skills-conteiner .porcent {
  font-weight: bold;
  color: var(--destaque);
}

#skills-conteiner .barra {
  background-color: var(--fundo-principal);
  height: 10px;
  width: 100%;
  border-radius: 4px;
}

#skills-conteiner .progresso {
  background-color: var(--destaque-inverso);
  height: 100%;
  border-radius: 4px;
}

#formacao-conteiner {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;

}

#formacao-conteiner .curso {
  background-color: var(--fundo-principal);
  padding: 10px;
  color: var(--texto);
  border-radius: 10px;
  border-left: 8px solid var(--destaque-inverso);
  transition: border-left-width .6s, border-color .6s;
}

#formacao-conteiner .curso:hover {
  border-left-width: 30px;
  border-color: var(--destaque);
  cursor: pointer;
}

#formacao-conteiner .periodo {
  font-weight: bold;
  font-size: 0.8em;
  color: var(--texto);
}

#formacao-conteiner .instituicao {
  font-size: 1.3em;
  color: var(--destaque-inverso);
}

#formacao-conteiner .titulacao {
  font-size: 1em;
  color: var(--texto);
}

div#projetos-conteiner {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

div#projetos-conteiner .projetos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--fundo-principal);
  padding: 15px;
  border-radius: 8px;
  border-left: 8px solid var(--destaque-inverso);
  color: var(--texto);
  transition: border-left-width .6s, border-color .6s;
}

div#projetos-conteiner .projetos:hover {
  border-left-width: 30px;
  border-color: var(--destaque);
  cursor: pointer;
}

div#projetos-conteiner .foto {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

footer {
  background-color: var(--destaque);
  text-align: center;
  color: var(--texto-inverso);
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.479);
}

footer a {
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: var(--texto);
  text-decoration: underline;
}


@media screen and (min-width: 768px) {
  #skills-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  div#projetos-conteiner .projetos {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  div#projetos-conteiner .projeto-info {
    max-width: 80%;
  }

  div#projetos-conteiner img {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }
}